{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block header %}
    <h2>歡迎光臨，請輸入帳號密碼</h2>
{% endblock %}

{% block content %}
    <section>
        <h2>登入系統</h2>
        <form action="{{ url_for('signin') }}" method="post">
            <p>帳號 <input type="text" name="username"></p>
            <p>密碼 <input type="password" name="password"></p>
            <input type="submit" value="登入"> 
        </form>
    </section>
    <br>
    <section>
        <h2>計算正整數的平方</h2>
        <form action="{{ url_for('index') }}" method="post">
            <p>正整數 <input type="number" name="num"></p>
            <input type="submit" value="計算"> 
        </form>
    </section>
    
{% endblock %}